<div class="tutor-container">
	<div class="tutor-overlay" role="region" aria-label="{{_globals._accessibility._ariaLabels.feedbackPopUp}}">
		<div class="tutor-overlay-inner">
			<div class="tutor-overlay-title">
	            <div class="tutor-title-inner h5" tabindex="0" role="heading" aria-level="1">
				{{{title}}}
				</div>
			</div>
			<div class="tutor-overlay-body">
			 	<div class="tutor-body-inner">
				{{{a11y_text body}}}
				</div>
			</div>
			{{#if _feedback._closeButtonText}}
			<button class="close-button-text" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
			{{{_feedback._closeButtonText}}}
			</button>
			{{else}}
			<button class="close-button" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
				<div class="notify-popup-icon-close icon icon-cross"></div>
			</button>
			{{/if}}
		</div>
	</div>
</div>
